<div class="container">
  <div class="row">
    <div class="profile-image">Profile Image</div>
    <h1>Daniel Alves
      <small>web developer</small></h1>
    <div class="resume">
      Among other things I'm passionate about <strong>startups</strong>, <strong>ruby</strong> and <strong>javascript</strong>. I'm looking to work building <strong>scalable</strong>, <strong>fast</strong> and <strong>user friendly</strong> applications. 
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <ul class="thumbnails">
        <li class="span6">
          <a href="http://www.recipppe.com" class="thumbnail" title="Recipppe">
            <img src="/assets/thumb-recipppe.jpg" alt="Recipppe">
          </a>
        </li>
        <li class="span6">
          <a href="http://www.instagger.com" class="thumbnail" title="Instagger">
            <img src="/assets/thumb-instagger.jpg" alt="Instagger">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="secondary-projects">
        <%= link_to "Instagger Wall", "http://wall.instagger.com" %>
        <%= link_to "jQuery Live Edit", "https://github.com/alvesdan/jquery-liveedit" %>
        <%= link_to "HTML5 Drawing", "http://drawing.danalv.es/" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="contact-info">
      Feel free to get in touch at <strong><a href="mailto:daniel@danielalves.me">daniel@danielalves.me</a></strong> and read my <strong><%= link_to "blog", "http://blog.danielalves.me" %></strong>.
      <ul class="unstyled clearfix">
        <li><a href="http://www.linkedin.com/in/alvesdan" class="linkedin">Linkedin</a></li>
        <li><a href="https://github.com/alvesdan" class="github">Github</a></li>
      </ul>
    </div>
  </div>
</div>