html {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #eee !important;
  background: #eeeeee;
  /*
  background: -moz-linear-gradient(top, #eeeeee 0%, #bcbcbc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#bcbcbc));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#bcbcbc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#bcbcbc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#bcbcbc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#bcbcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bcbcbc',GradientType=0 );
  */
}

.profile-image {
  width: 50px;
  height: 50px;
  left: 50%;
  padding-left: -25px;
  margin: 20px auto;
  text-indent: -2000px;
  border: 2px solid #fff;
  -moz-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
  background: url(/assets/avatar.png) #333 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  opacity: 0.5;
  -webkit-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -moz-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  -o-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
  
  &:hover {
    opacity: 1;
    width: 100px;
    height: 100px;
    left: 50%;
    padding-left: -50px;
  }
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  margin: 0 0 30px;
  color: #e97f4d;
  
  small {
    display: block;
    font-size: 14px;
  }
}

.container {
  max-width: 724px;
}

.resume {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #666;
  max-width: 580px;
  margin: 0 auto;
  text-shadow:0 1px 0 #fff;
  
  strong {
    color: #e97f4d;
    -webkit-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -moz-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    -o-transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    transition: all 0.15s cubic-bezier(0.54, 0.24, 0.35, 0.68);
    
    &.muted {
      color: #999;
    }
    
  }
  
  ul.tags {
    max-width: 380px;
    margin: 20px auto 20px;
    padding: 0;
    li {
      display: block;
      float: left;
      font-size: 14px;
      background: #ddd;
      color: #999;
      padding: 2px 6px;
      margin: 0 4px 4px 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  
  a {
    color: #444;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
  
} /* .resume */

ul.thumbnails {
  margin: 30px 0 0;
}

.secondary-projects {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  a {
    color: #999;
    display: inline-block;
    margin: 0 5px;
  }
}

.contact-info {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #999;
  
  strong a {
    color: #888;
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
  
  ul {
    list-style: none;
    margin: 10px auto 30px;
    padding: 0;
    width: 130px;
    
    li {
      display: block;
      float: left;
      
      
      a {
        display: block;
        width: 64px;
        height: 64px;
        text-indent: -2000px;
        opacity: 0.5;
        
        &.github {
          background: url(/assets/icon-github.png) transparent no-repeat center center;
        }
        
        &.linkedin {
          background: url(/assets/icon-linkedin.png) transparent no-repeat center center;
        }
        
        &:hover {
          opacity: 1;
        }
        
      }
      
    }
  }
  
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
    
    .container {
      margin: 0 20px;
    }
  }
}

@media (max-width: 480px) {
  .resume {
    font-size: 14px;
    line-height: 20px;
    strong {
      font-size: 16px;
    }
    
    ul.tags {
      max-width: 340px;
      li {
        font-size: 12px;
      }
    }
  }
}